::-webkit-scrollbar {
    width: 0.1em; /* Set the width of the scrollbar to a very small value */
  }
  
::-webkit-scrollbar-thumb {
    background-color: transparent; /* Hide the thumb (dragging part) of the scrollbar */
}

*{
    box-sizing: border-box;
}

.main{
    height: 35vh; 
    width: 40vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 1.7rem;
    background-color:#5746EA;
    margin: 0;


    >.left{
        display: flex;
        align-items: center;
        justify-content: center;

        >.img{
            width: 8vw;
            height: 30vh;
        }
    }

    >.right{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 3vh;
        // margin-bottom: -1rem;

        >.textcontainer{
            display: flex;
            flex-direction: column;
            gap: 0.4vh;

            >.name,.email,.tags{
                font-weight: 400;
            }
            >.name,.email,.username,.tags{
                font-family: Roboto;
                letter-spacing: 0.02em;
                margin: 0;
            }

            >.name,.email{
                font-size: 1.2rem;
            }

            >.username{
                font-size: 2.1rem;
            }
        }

        >.scroll{
            overflow: auto;
            height: 13vh;

            >.tagcontainer{
                display: grid;
                // height: 0.5vh;
                width: 20vw;
                grid-template-columns: repeat(2,1fr);
                gap: 1vh;
    
                >.tags{             
                    background-color: #9F94FF;
                    border-radius: 1.9rem;
                    font-size: 1rem;
                    padding: 0.45rem 0 0.45rem 1rem;
                }
            }
        }
    }
}