*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    height: 25vh;
    border-radius: 1.1rem;
    padding: 10px;
    background-color:  #1E2343;
}


.circle{
    background-color: #191E39;
    padding: 10px;
    border-radius: 50%;
}


.timeincircle{
    color: white;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.2em;
}







.timerContainer{
    display: flex;
    align-items: center;
    // gap: 10vw;
    justify-content: space-evenly;
}

.timerbox{
    display: flex;
    align-items: center;
    gap: 4vw;
    color: #949494;

    .digitbreaker{
        color: white;
        font-size: 1.4rem;
        margin-top: 1.8vh;
    }

    .settime{
        display: flex;
        flex-direction: column;
        align-items: center;

        >.timetext{
            font-size: 1rem;
        }

        >.timetext,.timedigit{
            font-family: Roboto;
            font-weight: 400;
            line-height: 1.2rem;
            letter-spacing: 0.04em;
        }

        .btn{
            display: flex;
            gap: 1.3vh;
            align-items: center;
            flex-direction: column;
            
            .timedigit{
                color: white;
                font-size: 1.4rem;
            }
        }
    }
}

.withbtn{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.startbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    >.startstopbtn{
        background: #FF6A6A;
        width: 100%;
        color: white;
        border-radius: 1.2rem;
        border: none;
        font-family: Roboto;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0.04em;
        cursor: pointer;
    }
}