@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Roboto:wght@400;500;900&family=Single+Day&display=swap');

.movie_img{
    border-radius: 10px;
    width: 22vw;
}
.movie_data{
    display: flex;
    
}
.flex_movie_tiles{

    h1{
        color: #878787;
        font-size: 1.2rem;
        font-family: 'Roboto';
        margin-top: 3vh;
        margin-bottom: 5px;
    }

}

ul{
    display: flex;
    gap: 2vw
}