

.btn{
    width: 100%;
    cursor: pointer;
    height: 2.8rem;
    background-color: #72DB73;
    color: #fff;
    border-radius: 1.2rem;
    border: none;
    font-family: Roboto;
    font-size: .9rem;
    font-weight: 500;
    padding: 1vh 2vh;
    letter-spacing: 0.02em;
}